--- Python & Django ---

pycache/
*.py[cod]
*$py.class
venv/
env/
.env
*.log

--- Database (User Data) ---

db.sqlite3
db.sqlite3-journal

--- Media & Static ---

media/
staticfiles/

--- React (Frontend) ---

frontend-web/node_modules/
frontend-web/build/
frontend-web/dist/
frontend-web/.pnp
.pnp.js

--- Desktop App ---

desktop/pycache/
desktop/*.spec
desktop/build/
desktop/dist/

--- IDE & OS ---

.vscode/
.idea/
.DS_Store
Thumbs.db